@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');




*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    border: 0px;
    box-sizing:border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #dcdcdc;
}

.wrapper{
    max-width: 1300px;
    margin: 0px auto;
    position: relative;
    background-color: #312e2e;
}

.wrapper h1{
    margin: 40px 0 40px 0;
    text-align: center;
}

.wrapper h2{
    margin-top: 20px;
}

.wrapper img{
    width: 100%;
    margin: 20px 0 20px 0;
}

.nav{
    width: 350px;
    position: fixed;
    margin: 15px;
}

.navBtns{
    width: 300px;
    height: 50px;
    padding: 15px;
    background-color: #181616;
    font-size: 16px;
    box-shadow: 3px 3px 0 0 rgb(173, 169, 169);
}

.btnFirst{
    border-radius: 25px 25px 0 0;
}

.btnLast{
    border-radius: 0 0 25px 25px;
}

.navBtns:hover{
    background-color: #605b5b;
    font-size: 18px;
    transition: 0.7s;
}

.navBtns:focus,
.navBtns:active{
    font-size: 15px;
    border: 0.5px solid #ffd13a;
    box-shadow: 3px 3px 0 0 #ffd13a;
    transition: 0.2s;

}


.nav a{
    text-decoration: none;
    color: white;
}

.main{
    width: 70%;
    margin-left: 375px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: rgb(240, 235, 235);
    background-color: #181616;
    position: relative;
    border-radius: 35px 35px 35px 35px
    }

.main p{
    margin: 15px;
    text-indent: 15px;
}

h1{
    background-color: #605b5b;
    border-radius: 50px;
    padding: 15px;
    border: 1px solid #ffd13a;
    width: 50%;
    position: relative;
    left: 250px;
    transition: 0.7s;
}

h1:hover{
    width: 75%;
    left: 125px;
    transition: 0.7s;
}





.main h2{
    margin: 15px;
    text-indent: 30px;
    /* color:rgb(217, 248, 12) */
}

.main p:nth-child(odd){
    font-weight: 200;
}

.main p:nth-child(even){
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}

.main{
    z-index: 2;
}

.main h2{
    z-index: 3;
}

.main h2::after{
    content:"";
    height: 30px;
    width: 0%;
    background-color: #605b5b;
    position: absolute;
    left: 0%;
    transition: 1s;
    z-index: -1 !important;
}

.main h2:hover::after{
    height: 30px;
    width: 50%;
    border-radius: 0 15px 15px 0;
    border-top: 1px solid #ffd13a;
    border-right: 1px solid #ffd13a;
    border-bottom: 1px solid #ffd13a;
}

